@section menu{
    @Html.Partial("MenuView")
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginButton').on('click', function () {
                var url = '@Url.Action("UnitStatusUpdate", "Production", new { OperatorID = "Replace" })';
                var opID = $('#Operator').val();
                //debugger;
                window.location.href = url.replace("Replace", opID);
            })
        });
    </script>
}

<div id="ContentDiv" class="roundedDiv container-fluid"
     style="border:green medium solid;border-width:2px;height:100%">
    @Html.Partial("OperatorLogin")
</div>