@section menu{
    @Html.Partial("MenuView")
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginButton').on('click', function () {
                var operatorInfo = {
                    OperatorID: $('#Operator').val(),
                    Department: "Logistics"

                };
                $.ajax({
                    
                    url: '@Url.Action("ValidateOperator", "Home")',
                    data: "{'OperatorInfo':" + JSON.stringify(operatorInfo) + "}",
                    type: "POST",
                    async:false,
                    contentType: "application/json",
                    error: function () { alert("Connection to Server Failed!!") },
                    success: function (location) {
                        //debugger;
                        if (location === "")
                        {
                            alert("Operator Unauthorized!!");
                            return;
                        }
                        var urlString = '@Url.Action("UnitStatusUpdate", "Logistics", new { OperatorID = "Replace",Location = "Replace_2"  })';
                        var opID = $('#Operator').val();
                        
                        var url = urlString.replace("Replace", opID);
                        window.location.href = url.replace("Replace_2", location);
                    }
                })
            });
        });
    </script>
}

<div id="ContentDiv" class="roundedDiv container-fluid"
     style="border:green medium solid;border-width:2px;height:100%">
    @Html.Partial("OperatorLogin")
</div>