@section menu{
    @Html.Partial("MenuView")
}

@section scripts{
    <script type="text/javascript">
   $(function(){

       $('#logoutbtn').click(function () {
                document.location = '@Url.Action("Index", "Home")';
                })

    });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin:4% 0% 0% 20%">
            <label>Serial Number:</label>
            <input type="text" class="form-control" id="operator">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-top:1%;margin-left:26%">

            <button type="button" class="btn btn-info" id="updatebtn">
                <span>Update</span>
            </button>
            <button type="button" class="btn btn-info" id="searchbtn">
                <span>Search</span>
            </button>

            <button type="button" class="btn btn-info" id="logoutbtn">
                <span>Logout</span>
            </button>


        </div>

    </div>



</div>