
@{
    ViewBag.Title = "Index";
}

@section menu
{
@Html.Partial("MenuView")
} 
@section styles{
    <style type="text/css">
        .wrap{
           display:inline;
          margin: 0 auto;
            
        }
        #img1  {
            
            	background-image: url("../../Images/energyEfficiency.jpg");
                background-repeat: no-repeat;
                
              width:150px;
              height:130px;
                padding:3px;
                margin:10px 5px 0px 5px;
               display:inline-block;
        }
        #lbl1{
            padding:45px 0px 0px 15px;
            
        }
         #img2{
            
            	background-image: url("../../Images/energyEfficiency.jpg");
                background-repeat: no-repeat;
                
              width:150px;
              height:130px;
                padding:5px;
                margin:10px 0px 0px 5px;
                display:inline-block;
        }
        #lbl2{
            padding:45px 0px 0px 15px;
            
        }
         #img3{
            
            	background-image: url("../../Images/energyEfficiency.jpg");
                background-repeat: no-repeat;
                
              width:150px;
              height:130px;
                padding:5px;
                margin:10px 0px 0px 5px;
                display:inline-block;
        }
        #lbl3{
            padding:45px 0px 0px 15px;
            
        }
         #img4{
            
            	background-image: url("../../Images/energyEfficiency.jpg");
                background-repeat: no-repeat;
                
              width:150px;
              height:130px;
                padding:5px;
                margin:10px 0px 0px 5px;
                display:inline-block;
        }
        #lbl4{
            padding:45px 0px 0px 15px;
            
        }
         #img5{
            
            	background-image: url("../../Images/energyEfficiency.jpg");
                background-repeat: no-repeat;
                
              width:150px;
              height:130px;
                padding:5px;
                margin:10px 0px 0px 5px;
                display:inline-block;
        }
        #lbl5{
            padding:45px 0px 0px 15px;
            
        }

    </style>
}
@section scripts {

   
@Scripts.Render("~/bundle/jquery")
    <script type="text/javascript">
        

    $(document).ready(function(){
    ("#img1").fadeIn(2000);
    ("#img2,#lbl2").fadeIn(4000);
     ("#img3,#lbl3").fadeIn(6000);
     ("#img4,#lbl4").fadeIn(8000);
     ("#img5,#lbl5").fadeIn(10000);

    });

    </script>
}
<div class="wrap">
    <div id="img1">
        <label id="lbl1">
            Dispose
        </label>
        </div>
    <div id="img2" >
        <label id="lbl2">
           Receive
        </label>
    </div>
    <div id="img3">
        <label id="lbl3">
           Release
        </label>
    </div>
    <div id="img4">
        <label id="lbl4">
            Test
        </label>
    </div>
    <div id="img5">
        <label id="lbl5">
            Finish
        </label>
    </div>
</div>
