
@{
    ViewBag.Title = "Index";
}

@section scripts {

 
    <script type="text/javascript">
        
        $(document).ready(function () {
            $('div#pic').css('background-image', 'url(../../Images/Dispatch.jpg)');
            $('div#pic').fadeIn(1000);


            $('div#pic1').css('background-image', 'url(../../Images/Dispatch.jpg)');
            $('div#pic1').delay(1000).fadeIn(1000);


            $('div#pic2').css('background-image', 'url(../../Images/Release.jpg)');
            $('div#pic2').delay(2000).fadeIn(1000);

            $('div#pic3').css('background-image', 'url(../../Images/IDF4TestLab.jpg)');
            $('div#pic3').delay(3000).fadeIn(1000);

            $('div#pic4').css('background-image', 'url(../../Images/Finishing.jpg)');
            $('div#pic4').delay(4000).fadeIn(1000);
        });
       

   

    </script>
}


    <div id="pic" style="height:80%;width:16%;display:none;margin-right:1%;margin-top:-0.4%;
text-align:center;float:left;background-repeat:no-repeat;background-size:100% 100%;">
        <span style="font-family:Arial; color:#cb88e8; font-size:32px;"> Dispatch </span>

    </div>

    <div id="pic1" style="height:80%;width:16%;display:none;margin-right:1%;margin-top:-0.4%;
text-align:center;float:left;background-repeat:no-repeat;background-size:100% 100%; ">
        <span style="font-family:Arial; color:#cb88e8; font-size:32px;"> Receive </span>

    </div>

    <div id="pic2" style="height:80%;width:16%;display:none;margin-right:1%;margin-top:-0.4%;
text-align:center;float:left;background-repeat:no-repeat; background-size:100% 100%;">
        <span style="font-family:Arial; color:#cb88e8; font-size:32px;"> Release </span>

    </div>

    <div id="pic3" style="height:80%;width:16%;display:none;margin-right:1%;margin-top:-0.4%;
text-align:center;float:left;background-repeat:no-repeat; background-size:100% 100%;">
        <span style="font-family:Arial; color:#cb88e8; font-size:32px;"> Test </span>

    </div>

    <div id="pic4" style="height:80%;width:16%;display:none;margin-right:1%;margin-top:-0.4%;
text-align:center;float:left;background-repeat:no-repeat;background-size:100% 100%;">
        <span style="font-family:Arial; color:#cb88e8; font-size:32px;"> Finishing </span>

   
</div>
