
@{
    ViewBag.Title = "Index";
}


@section styles{
   
   <link href="~/Content/fade.css" type="text/css" rel="stylesheet" />     
}
@section scripts {

 
    <script type="text/javascript">
        

       
            //$(window).load(function () {
            //    var i = 0;
            //   // var images = ['image2.png', 'image3.png', 'image1.png'];
            //    var image = $('#slideit');
            //    //Initial Background image setup
            //    image.css('background-image', 'url(../../Images/energyEfficiency.jpg)');
            //    //Change image at regular intervals
            //    setInterval(function () {
            //        image.fadeOut(1000, function () {
            //            image.css('background-image', 'url(../../Images/energyEfficiency.jpg)');
            //            image.fadeIn(1000);
            //        });
                   
            //    }, 5000);
            //});  //$("#image").delay(20000);
            ////$("#image").fadeIn(14000);
            ////$(".disp").delay(10000);
            ////$(".disp").fadeIn(3000);
         
   

    </script>
}

@*<div class="wrap">
    <div class="inner">
        <ul class="un">
            

        </ul>

    </div>

</div>*@
<div class="row">
    <div class="col-md-2">
        <div class="image-fade">
            <span style="">Dispatch</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="image-fade1">
            <span style="padding:100px 10px 0px 15px;margin:80px 25px 0px 0px">Receive</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="image-fade2">
            <span style="padding:70px 25px 100px 15px">Release</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="image-fade3">
            <span style="padding:70px 25px 100px 15px">Test</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="image-fade4">
            <span style="padding:70px 25px 100px 15px">Finish</span>
        </div>
    </div>
</div>