@{
    ViewBag.Title = "RealTime";
}
@section styles{
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    
<link href="~/Content/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
  
}


@section scripts {

    @Scripts.Render("~/bundle/jquery")

   
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
   <script type="text/javascript">
         $(function () {

             $('#Shwbtn').click(function () {
                 document.location = '@Url.Action("Index","UnitStatus")';
             })
         })
    </script>
   
    <script type="text/javascript">

        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();

         </script>
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

@section Menu {
   @* <div class="rend" style="margin-left:0px;margin-top:-140px;margin-bottom:50px;float:left;">*@
       @Html.Partial("MenuView");
  
}

<div class="responsive-container" id="SummaryPanel"></div>
<div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px">
    

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Unit Status</a></li>
                <li><a href="#tabs-2">Bay Status</a></li>

            </ul>

            <div id="tabs-1" >

                <div class="wrap" style="margin-top:10px; margin-left:0px;margin-bottom:10px;padding-right:0px">
                    <div class="box1" style="margin-top:5px; margin-left:2px; margin-right:2px; padding-left:1px;">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <b style="margin-top:3px;margin-left:-350px;">  From:   </b>
                                <div class='input-group date' id='datetimepicker1' style="padding-left:-100px;margin-top:5px;margin-bottom:20px;">

                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <b style="margin-top:3px;margin-left:-350px;"> To:   </b>
                                <div class='input-group date' id='datetimepicker2' style="padding-left:-100px;margin-top:5px;margin-bottom:20px;">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><br /><br /><br />
                    <button type="button" id="Shwbtn" class="btn btn-primary" style="margin-top:25px; margin-left:-900px;width:90px;margin-bottom:10px;">Show</button>
                </div>



                <div id="tabs-2">



                </div>



            </div>
        </div>

</div>
