
@{
    ViewBag.Title = "RealTime";
}
@section scripts {
    
    @Scripts.Render("~/bundle/jquery")
   
<script src="~/Scripts/raphael.js"></script>
    <script src="~/Scripts/RealTimeSummary.js"></script>
   
}

<div class="responsive-container" id="SummaryPanel"></div>

